<div class="dropdown-header">Modelos Trabajador</div>
<a class="dropdown-item" href="{% url 'ReporteContrato' pk %}" target="_blank">
    Contrato Trabajador
</a>
<a class="dropdown-item" href="{% url 'MovimientoNominaAlta' pk %}" target="_blank">
    Movimiento de Nómina
</a>
<a class="dropdown-item" href="{% url 'AcuerdoConfidencialidad' pk %}" target="_blank">
    Acuerdo de Confidencialidad
</a>
<a class="dropdown-item" href="{% url 'SolicCuentaUser' pk %}" target="_blank">
    Solicitud de Cuenta de Usuario
</a>
<a class="dropdown-item" href="{% url 'Chequeomedicotrab' pk %}" target="_blank">
    Modelo Chequeo Médico
</a>
<a class="dropdown-item" href="{% url 'Chequeomedicoesp' pk %}" target="_blank">
    Modelo Chequeo Médico Especializado
</a>