{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <style type="text/css">
        th {
            padding: 10px 5px !important;
        }
        .btn-green{background-color:#388e3c!important;color:#fff!important}
        .btn-green:hover{background-color:#3fa044}

        td {
            font-size: 14px;
            padding: 2px !important;

        }
    </style>
{% endblock %}

{% block migas %}
    <ol class="breadcrumb" style="margin-top: 56px; opacity: 0.9; position: fixed;
    top: 0; right: 0; left: 0; z-index: 1000;">
        <li class="breadcrumb-item"><a href="{% url 'rechum_home' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class=content align="center" style="font-size: smaller; width: 1000px;">
        <h5><strong>{{ title }}&nbsp;ANEXO No.14B</strong></h5>
    </div>
    <div class="text-right" style="color: white;">
        <a href="{% url export_pdf %}" class="btn btn-sm btn-success" style="font-size: small">
            <i class="fa fa-download"></i> Exportar a PDF
        </a>
        <a class="btn btn-sm btn-green waves-effect px-3 export" id="excel_btn" target="_blank" type="text/csv">
            EXCEL
        </a>
    </div>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <table class="display table table-striped" cellspacing="0" id="tabla"
                   style="margin-left: -15%; width: 125%;">
                <thead>
                <tr>
                    <th>No.</th>
                    <th style="width: 500px">Descripción órganos y cargo</th>
                    <th>Cat. Ocup.</th>
                    <th style="width: 300px">Nombre y Apellidos</th>
                    <th>Sexo</th>
                    <th>CI</th>
                    <th>Nivel de preparación</th>
                    <th>Grupo Escala</th>
                    <th>Salario Total</th>
                    <th>Salario Escala</th>
                    <th>CLA</th>
                    <th>Turnos nocturnos y mixtos </th>
                    <th>Maestría y Doctorado</th>
                    <th>Años de Servicio</th>
                    <th>Otros</th>
                </tr>
                </thead>
                <tbody>
                {% for trab in queryset %}
                    {% ifchanged trab.unidad_nombre %}
                        <tr>
                            <td style="display: none"></td>
                            <td colspan="15" style="font-weight: bold; text-align: left">{{ trab.unidad_nombre }}</td>
                            <td style="display: none"></td><td style="display: none"></td><td style="display: none"></td>
                            <td style="display: none"></td><td style="display: none"></td><td style="display: none"></td>
                            <td style="display: none"></td><td style="display: none"></td><td style="display: none"></td>
                            <td style="display: none"></td><td style="display: none"></td><td style="display: none"></td>
                            <td style="display: none"></td>
                    {% endifchanged %}
                    {% ifchanged trab.dpto_codigo %}
                        <tr>
                            <td style="display: none"></td>
                            <td colspan="15" style="font-weight: bold; text-align: left; padding-left: 30px !important;">{{ trab.dpto_nombre }}</td>
                            <td style="display: none"></td><td style="display: none"></td><td style="display: none"></td>
                            <td style="display: none"></td><td style="display: none"></td><td style="display: none"></td>
                            <td style="display: none"></td><td style="display: none"></td><td style="display: none"></td>
                            <td style="display: none"></td><td style="display: none"></td><td style="display: none"></td>
                            <td style="display: none"></td>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td align="left">{{ trab.cargo_nombre }}</td>
                        <td class="text-center">{{ trab.categoria }}</td>
                        <td>{{ trab.nombre_completo }}</td>
                        <td class="text-center">{{ trab.sexo }}</td>
                        <td class="text-center">{{ trab.ci }}</td>
                        <td class="text-center">{{ trab.escolaridad }}</td>
                        <td class="text-center">{{ trab.escala_salarial_ref}}</td>
                        {% language 'en' %}
                            <td class="text-center">{{ trab.salario_total_reforma }} </td>
                            <td class="text-center">{{ trab.salario_escala_ref }}</td>
                            <td class="text-center">{{ trab.calcular_sal_j_laboral_ref}}</td>
                            <td class="text-center">0.00</td>
                            <td class="text-center">{{ trab.salario_cat_cient }}</td>
                            <td class="text-center">{{ trab.edad_by_ci }}</td>
                            <td class="text-center">{{ trab.fecha_contrato|date:"d/m/Y" }}</td>
                        {% endlanguage %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h5 style="text-align: right">Existen en total {{ queryset|length }} registros en la Base de Datos</h5>
        </div>
    </div>

    <div id="popup" class="modal fade" role="dialog"></div>
{% endblock %}

{% block javascript %}
{% endblock %}



