{% extends 'layouts/crud/_base_create-update_capacitacion.html' %}
{% load widget_tweaks %}

{% block form_elements %}
    {{ form.non_field_errors }}
    <div class="col-lg-7 col-12">
        {{ form.actividad.label_tag }}
        {{ form.actividad.errors }}
        {{ form.actividad }}
    </div>
    <div class="col-lg-5 col-12 pt-lg-0 pt-2">
        {{ form.trabajador.label_tag }}
        {{ form.trabajador.errors }}
        {{ form.trabajador }}
    </div>
    <div class="col-lg-4 col-12">
        {{ form.evaluacion.label_tag }}
        {{ form.evaluacion.errors }}
        {{ form.evaluacion }}
    </div>
    <div class="col-lg-4 col-12">
        {{ form.tomo.label_tag }}
        {{ form.tomo.error }}
        {{ form.tomo }}
    </div>
    <div class="col-lg-4 col-12">
        {{ form.folio.label_tag }}
        {{ form.folio.errors }}
        {{ form.folio }}
    </div>
{% endblock %}
