{% extends 'layouts/crud/_base_detail.html' %}

{% block detail_elements %}
    <dt class="col-md-4 col-sm-12">Actividad:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.actividad }} </dd>
    <dt class="col-md-4 col-sm-12">Trabajador:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.trabajador }}</dd>
    <dt class="col-md-4 col-sm-12">Evaluacion:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.evaluacion }}</dd>
    <dt class="col-md-4 col-sm-12">Tomo:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.tomo }}</dd>
    <dt class="col-md-4 col-sm-12">Folio:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.folio }}</dd>
{% endblock %}
