{% extends 'layouts/_base_list_datatable_capacitacion.html' %}
{% load sge_url sge_inclusion %}

{% block delete_error_message %}
    Imposible eliminar Actividad
{% endblock %}

{% block table_header %}
    <th>Actividad</th>
    <th>Trabajador</th>
    <th>Evaluación</th>
    <th>Tomo</th>
    <th>Folio</th>
    <th scope="col" class="text-center" width="10%">Acciones</th>
{% endblock table_header %}

{% block table_body %}
    <td>{{ item.actividad }}</td>
    <td>{{ item.trabajador }}</td>
    <td>{{ item.evaluacion }}</td>
    <td>{{ item.tomo }}</td>
    <td>{{ item.folio }}</td>
    {% submit_row %}

{#    <td>#}
{#        <div class="icon-acciones text-center">#}
{#            {% if change %}#}
{#                <a href="{% url 'actividadcapacitaciontrab_update' pk %}" onclick="event.stopPropagation()"#}
{#                   class="badge badge-pill badge-primary">#}
{#                    <i class="fa fa-edit fa-submit-buttons-round" title="Editar {{ verbose_name|title }}"#}
{#                       style="color: white;"></i>#}
{#                </a>#}
{#            {% endif %}#}
{#            {% if delete %}#}
{#                <a onclick="event.stopPropagation(); open_re_useful_modal('{% url 'actividadcapacitaciontrab_delete' pk %}')"#}
{#                   class="badge badge-pill badge-danger">#}
{#                    <i class="fa fa-trash fa-submit-buttons-round" title="Eliminar {{ verbose_name|title }}"#}
{#                       style="color: white;"></i>#}
{#                </a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </td>#}
{% endblock table_body %}

{% block table_foot %}
    <th>Actividad</th>
    <th>Trabajador</th>
    <th>Evaluación</th>
    <th>Tomo</th>
    <th>Folio</th>
    <th></th>
{% endblock table_foot %}
