{% extends "layouts/_base_module.html" %}
{% load sge_url %}

{% block title %}Contratación-Producción{% endblock %}

{% block styles %}
    {{ block.super }}
    <style>
        li a i {
            padding-right: .5rem;
            padding-left: .5rem;
        }

        #sidebar ul ul a:hover {
            background: #3a444c
        }

        #sidebar ul a.active {
            background: #455A64
        }

        #sidebar ul ul a.active {
            background: #3a444c
        }
    </style>
{% endblock %}

{% block sidebar_title %}Contratación Producción{% endblock %}
{% block sidebar_home_url %}{% url 'entrada-datos_home' %}{% endblock %}
{% block sidebar_list %}
    <li>
        <a class="{% if model_name == 'inversionista' %}active{% endif %}"
           href="{% url 'inversionista_list' %}">
            <i class="fa fa-briefcase"></i>
            Inversionista
        </a>
    </li>
    {% with ot=request.resolver_match.url_name|is_x_menu:"ot" %}
        <li>
            <a href="#pageSubmenu1" class="dropdown-toggle"
               data-toggle="collapse" aria-expanded="{% if ot %}true{% else %}false{% endif %}">
                <i class="fa fa-won"></i>
                Ordenes de Trabajo
            </a>
            <ul class="collapse list-unstyled {% if ot %}show{% endif %}" id="pageSubmenu1">
                <li>
                    <a class="{% if model_name == 'area' %}active{% endif %}"
                       href="{% url 'area_list' %}">
                        Áreas
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'servicio' %}active{% endif %}"
                       href="{% url 'servicio_list' %}">
                        Servicios
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'ot' %}active{% endif %}"
                       href="{% url 'ot_list' %}">
                        Ordenes de Trabajo
                    </a>
                </li>
            </ul>
        </li>
    {% endwith %}
    {% with actividad=request.resolver_match.url_name|is_x_menu:"actividad" %}
        <li>
            <a href="#homeSubmenu2" data-toggle="collapse" class="dropdown-toggle"
               aria-expanded="{% if actividad %}true{% else %}false{% endif %}">
                <i class="fa fa-folder"></i>
                Actividades
            </a>
            <ul class="collapse list-unstyled{% if actividad %} show{% endif %}" id="homeSubmenu2">
                <li>
                    <a class="{% if model_name == 'tipoactividad' %}active{% endif %}"
                       href="{% url 'tipoactividad_list' %}">
                        Tipo de Actividad
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'actividad' %}active{% endif %}"
                       href="{% url 'actividad_list' %}">
                        Actividad
                    </a>
                </li>
            </ul>
        </li>
    {% endwith %}
    {% with serv=request.resolver_match.url_name|is_x_menu:"serv" %}
        <li>
            <a href="#Proyectos" data-toggle="collapse" class="dropdown-toggle"
               aria-expanded="{% if serv %}true{% else %}false{% endif %}">
                <i class="fa fa-folder"></i>
                Servicios o Proyectos
            </a>
            <ul class="collapse list-unstyled{% if serv %} show{% endif %}" id="Proyectos">
                <li>
                    <a class="{% if model_name == 'surtido' %}active{% endif %}"
                       href="{% url 'surtido_list' %}">
                        Surtidos o Conceptos
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'actividades' %}active{% endif %}"
                       href="#">
                        Actividades
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'tiposervicio' %}active{% endif %}"
                       href="{% url 'tiposervicio_list' %}">
                        Tipos de Servicios
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'tipoobra' %}active{% endif %}"
                       href="{% url 'tipoobra_list' %}">
                        Tipos de Obras
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'programa' %}active{% endif %}"
                       href="{% url 'programa_list' %}">
                        Programas
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'clientes' %}active{% endif %}"
                       href="{% url 'clientes_list' %}">
                        Clientes
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'solicitudservicio' %}active{% endif %}"
                       href="{% url 'solicitudservicio_list' %}">
                        Solicitud de Servicio
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'ofertas' %}active{% endif %}"
                       href="{% url 'ofertas_list' %}">
                        Ofertas
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'ofertas' %}active{% endif %}"
                       href="{% url 'proyectos_list' %}">
                        Proyectos
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'ofertas' %}active{% endif %}"
                       href="{% url 'contratos_list' %}">
                        Contratos
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'ofertas' %}active{% endif %}"
                       href="{% url 'suplementos_list' %}">
                        Suplementos
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'rol' %}active{% endif %}"
                       href="{% url 'rol_list' %}">
                        Roles
                    </a>
                </li>
            </ul>
        </li>
    {% endwith %}
    {% with banco=request.resolver_match.url_name|is_x_menu:"banco" %}
        <li>
            <a href="#CuentaBancaria" data-toggle="collapse" class="dropdown-toggle"
               aria-expanded="{% if banco %}true{% else %}false{% endif %}">
                <i class="fa fa-folder"></i>
                Cuentas Bancarias
            </a>
            <ul class="collapse list-unstyled{% if banco %} show{% endif %}" id="CuentaBancaria">
                <li>
                    <a class="{% if model_name == 'moneda' %}active{% endif %}"
                       href="{% url 'moneda_list' %}">
                        Monedas
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'banco' %}active{% endif %}"
                       href="{% url 'banco_list' %}">
                        Bancos
                    </a>
                </li>
                <li>
                    <a class="{% if model_name == 'cuentabancaria' %}active{% endif %}"
                       href="{% url 'cuentabancaria_list' %}">
                        Cuentas Bancarias
                    </a>
                </li>
            </ul>
        </li>
    {% endwith %}
{% endblock %}
