{% extends 'layouts/_base_list_datatable.html' %}
{% load sge_url sge_perms sge_inclusion %}

{% block delete_error_message %}
    Imposible eliminar Surtido o Concepto porque esta asociada a uno o varios Proyectos
{% endblock %}

{% block table_header %}
    <th>Nombre</th>
    <th>Nombre Abreviado</th>


{% endblock %}

{% block table_body %}
    <td style="width: 300px">{{ item.nombre }}</td>
    <td>{{ item.codigo }}</td>
    {% submit_row_extra_buttons %}
{% endblock %}

{% block table_foot %}K
    <th>Nombre</th>
    <th>Nombre Abreviado</th>
{% endblock %}