{% extends 'layouts/crud/_base_detail_plantilla_servicio.html' %}

{% block detail_elements %}
    <dt class="col-md-4 col-sm-12">Servicio:</dt>
    <dd  class="col-md-8 col-sm-12">{{ object.servicio }}</dd>
    <dt class="col-md-4 col-sm-12">Escala Salarial:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.escala_salarial }}</dd>
    <dt class="col-md-4 col-sm-12">Cargo:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.cargo }}</dd>
    <dt class="col-md-4 col-sm-12">Cantidad de plazas:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.cant_plazas }}</dd>
    <dt class="col-md-4 col-sm-12">Disponibles:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.disponibles }}</dd>
{% endblock %}
