{% extends 'layouts/_base_list_datatable.html' %}
{% load sge_url sge_perms sge_inclusion %}

{% block delete_error_message %}
    Imposible eliminar Banco porque esta asociado a una o varias Cuentas Bancarias
{% endblock %}

{% block table_header %}
    <th>Nombre</th>
    <th>Código</th>
    <th>Denominación</th>

{% endblock %}

{% block table_body %}
    <td style="width: 400px">{{ item.nombre }}</td>
    <td>{{ item.codigo }}</td>
    <td>{{ item.denominacion }}</td>
    {% submit_row_extra_buttons %}
{% endblock %}

{% block table_foot %}
    <th>Nombre</th>
    <th>Código</th>
    <th>Denominación</th>
{% endblock %}