{% extends 'layouts/crud/_base_create-update.html' %}

{% load widget_tweaks %}

{% block form_elements %}
    {{ form.non_field_errors }}
    <div class="col-lg-3 col-12">
        {{ form.consecutivo.label_tag }}
        {{ form.consecutivo.errors }}
        {{ form.consecutivo }}
    </div>
    <div class="col-lg-4 col-12 mt-lg-0 mt-2">
        {{ form.fecha_recepcion.label_tag }}
        {{ form.fecha_recepcion.errors }}
        {{ form.fecha_recepcion }}
    </div>
    <div class="col-lg-5 col-12 mt-lg-0 mt-2">
        {{ form.servicio.label_tag }}
        {{ form.servicio.errors }}
        {{ form.servicio }}
    </div>
        <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.etapa.label_tag }}
        {{ form.etapa.errors }}
        {{ form.etapa }}
    </div>
    <div class="col-lg-3 col-12 mt-lg-0 mt-2">
        {{ form.lleva_oferta.label_tag }}
        {{ form.lleva_oferta.errors }}
        {{ form.lleva_oferta }}
    </div>
    <div class="col-lg-3 col-12 mt-lg-0 mt-2">
        {{ form.para_contrato.label_tag }}
        {{ form.para_contrato.errors }}
        {{ form.para_contrato }}
    </div>
    <div class="col-lg-12 col-12 mt-lg-0 mt-2">
        {{ form.cliente.label_tag }}
        {{ form.cliente.errors }}
        {{ form.cliente }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.representado_por.label_tag }}
        {{ form.representado_por.errors }}
        {{ form.representado_por }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.representado_por_cargo.label_tag }}
        {{ form.representado_por_cargo.errors }}
        {{ form.representado_por_cargo }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.segun_resolucion.label_tag }}
        {{ form.segun_resolucion.errors }}
        {{ form.segun_resolucion }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.segun_acuerdo.label_tag }}
        {{ form.segun_acuerdo.errors }}
        {{ form.segun_acuerdo }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.nombre_firma_contrato.label_tag }}
        {{ form.nombre_firma_contrato.errors }}
        {{ form.nombre_firma_contrato }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.fax.label_tag }}
        {{ form.fax.errors }}
        {{ form.fax }}
    </div>

{% endblock %}