{% extends 'layouts/crud/_base_create-update.html' %}

{% load widget_tweaks %}

{% block form_elements %}
    {{ form.non_field_errors }}
    <div class="col-lg-3 col-12">
        {{ form.consecutivo.label_tag }}
        {{ form.consecutivo.errors }}
        {{ form.consecutivo }}
    </div>
    <div class="col-lg-4 col-12 mt-lg-0 mt-2">
        {{ form.fecha_recepcion.label_tag }}
        {{ form.fecha_recepcion.errors }}
        {{ form.fecha_recepcion }}
    </div>
    <div class="col-lg-5 col-12 mt-lg-0 mt-2">
        {{ form.servicio.label_tag }}
        {{ form.servicio.errors }}
        {{ form.servicio }}
    </div>
        <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.etapa.label_tag }}
        {{ form.etapa.errors }}
        {{ form.etapa }}
    </div>
    <div class="col-lg-3 col-12 mt-lg-0 mt-2">
        {{ form.lleva_oferta.label_tag }}
        {{ form.lleva_oferta.errors }}
        {{ form.lleva_oferta }}
    </div>
    <div class="col-lg-3 col-12 mt-lg-0 mt-2">
        {{ form.para_contrato.label_tag }}
        {{ form.para_contrato.errors }}
        {{ form.para_contrato }}
    </div>
    <div class="col-lg-12 col-12 mt-lg-0 mt-2">
        {{ form.cliente.label_tag }}
        {{ form.cliente.errors }}
        {{ form.cliente }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.representado_por.label_tag }}
        {{ form.representado_por.errors }}
        {{ form.representado_por }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.representado_por_cargo.label_tag }}
        {{ form.representado_por_cargo.errors }}
        {{ form.representado_por_cargo }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.segun_resolucion.label_tag }}
        {{ form.segun_resolucion.errors }}
        {{ form.segun_resolucion }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.segun_acuerdo.label_tag }}
        {{ form.segun_acuerdo.errors }}
        {{ form.segun_acuerdo }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.nombre_firma_contrato.label_tag }}
        {{ form.nombre_firma_contrato.errors }}
        {{ form.nombre_firma_contrato }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.cargo_firma_contrato.label_tag }}
        {{ form.cargo_firma_contrato.errors }}
        {{ form.cargo_firma_contrato }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.tipo_servicio.label_tag }}
        {{ form.tipo_servicio.errors }}
        {{ form.tipo_servicio }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.tipo_obras.label_tag }}
        {{ form.tipo_obras.errors }}
        {{ form.tipo_obras }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.servicio_ingenieria.label_tag }}
        {{ form.servicio_ingenieria.errors }}
        {{ form.servicio_ingenieria }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.otros.label_tag }}
        {{ form.otros.errors }}
        {{ form.otros }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.otros1.label_tag }}
        {{ form.otros1.errors }}
        {{ form.otros1 }}
    </div>
    <div class="col-lg-12 col-12 mt-lg-0 mt-2">
        {{ form.descripcion.label_tag }}
        {{ form.descripcion.errors }}
        {{ form.descripcion }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.area_estudio.label_tag }}
        {{ form.area_estudio.errors }}
        {{ form.area_estudio }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.resp_organos_consulta.label_tag }}
        {{ form.resp_organos_consulta.errors }}
        {{ form.resp_organos_consulta }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.certif_micro.label_tag }}
        {{ form.certif_micro.errors }}
        {{ form.certif_micro }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.tarea_proyeccion.label_tag }}
        {{ form.tarea_proyeccion.errors }}
        {{ form.tarea_proyeccion }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.tarea_tecnica.label_tag }}
        {{ form.tarea_tecnica.errors }}
        {{ form.tarea_tecnica }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.info_digital.label_tag }}
        {{ form.info_digital.errors }}
        {{ form.info_digital }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.planos.label_tag }}
        {{ form.planos.errors }}
        {{ form.planos }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.licencia_construccion.label_tag }}
        {{ form.licencia_construccion.errors }}
        {{ form.licencia_construccion }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.licencia_ambiental.label_tag }}
        {{ form.licencia_ambiental.errors }}
        {{ form.licencia_ambiental }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.est_ing_ecologico.label_tag }}
        {{ form.est_ing_ecologico.errors }}
        {{ form.est_ing_ecologico }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.otros_documentos.label_tag }}
        {{ form.otros_documentos.errors }}
        {{ form.otros_documentos }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.estado.label_tag }}
        {{ form.estado.errors }}
        {{ form.estado }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.aprobado_por.label_tag }}
        {{ form.aprobado_por.errors }}
        {{ form.aprobado_por }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.orden_trabajo.label_tag }}
        {{ form.orden_trabajo.errors }}
        {{ form.orden_trabajo }}
    </div>
    <div class="col-lg-12 col-12 mt-lg-0 mt-2">
        {{ form.observaciones.label_tag }}
        {{ form.observaciones.errors }}
        {{ form.observaciones }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.num_contrato.label_tag }}
        {{ form.num_contrato.errors }}
        {{ form.num_contrato }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.fecha_aprobacion.label_tag }}
        {{ form.fecha_aprobacion.errors }}
        {{ form.fecha_aprobacion }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.fecha_paralizacion.label_tag }}
        {{ form.fecha_paralizacion.errors }}
        {{ form.fecha_paralizacion }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.fecha_reanudacion.label_tag }}
        {{ form.fecha_reanudacion.errors }}
        {{ form.fecha_reanudacion }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.fecha_rechazo.label_tag }}
        {{ form.fecha_rechazo.errors }}
        {{ form.fecha_rechazo }}
    </div>
    <div class="col-lg-6 col-12 mt-lg-0 mt-2">
        {{ form.fecha_cancelacion.label_tag }}
        {{ form.fecha_cancelacion.errors }}
        {{ form.fecha_cancelacion }}
    </div>



{% endblock %}