{% extends 'layouts/crud/_base_detail.html' %}
{% load filters %}

{% block detail_elements %}
    <dt class="col-md-4 col-sm-12">Consecutivo:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.consecutivo }}</dd>
    <dt class="col-md-4 col-sm-12">Orden de Trabajo:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.orden_trabajo }}</dd>
    <dt class="col-md-4 col-sm-12">Num. Contrato:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.num_contrato }}</dd>
    <dt class="col-md-4 col-sm-12">Fecha Recepción:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.fecha_recepcion }}</dd>
    <dt class="col-md-4 col-sm-12">Fecha Aprobación:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.fecha_aprobacion }}</dd>
    <dt class="col-md-4 col-sm-12">Servicio:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.servicio }}</dd>
    <dt class="col-md-4 col-sm-12">Cliente:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.cliente }}</dd>
    <dt class="col-md-4 col-sm-12">Representado Por:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.representado_por }}</dd>
    <dt class="col-md-4 col-sm-12">Unidad Org:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.unidad_org }}</dd>
    <dt class="col-md-4 col-sm-12">Estado:</dt>
    <dd class="col-md-8 col-sm-12">{{ object.estado }}</dd>

{% endblock %}

