{% extends 'layouts/_base_list_datatable.html' %}
{% load sge_url sge_perms sge_inclusion %}

{% block delete_error_message %}
    Imposible eliminar Banco porque esta asociado a una o varias Cuentas Bancarias
{% endblock %}

{% block table_header %}
    <th>Consecutivo</th>
    <th>LLeva Oferta?</th>
    <th>Para Contrato?</th>
    <th>Orden de Trabajo</th>
    <th>Num. Contrato</th>
    <th>Fecha Recepción</th>
    <th>Fecha Aprobación</th>
    <th>Servicio</th>
    <th>Cliente</th>
    <th>Representado Por:</th>
    <th>Unidad Org:</th>
    <th>Estado:</th>

{% endblock %}

{% block table_body %}
    <td style="width: 400px">{{ item.consecutivo }}</td>
    <td>{{ item.lleva_oferta }}</td>
    <td>{{ item.para_contrato }}</td>
    <td>{{ item.orden_trabajo }}</td>
    <td>{{ item.num_contrato }}</td>
    <td>{{ item.fecha_recepcion }}</td>
    <td>{{ item.fecha_aprobacion }}</td>
    <td>{{ item.servicio }}</td>
    <td>{{ item.cliente }}</td>
    <td>{{ item.representado_por }}</td>
    <td>{{ item.unidad_org }}</td>
    <td>{{ item.estado }}</td>
    {% submit_row %}
{% endblock %}

{% block table_foot %}
    <th>Consecutivo</th>
    <th>LLeva Oferta?</th>
    <th>Para Contrato?</th>
    <th>Orden de Trabajo</th>
    <th>Num. Contrato</th>
    <th>Fecha Recepción</th>
    <th>Fecha Aprobación</th>
    <th>Servicio</th>
    <th>Cliente</th>
    <th>Representado Por:</th>
    <th>Unidad Org:</th>
    <th>Estado:</th>
{% endblock %}